body {
  background-color: black;
  color: green;
  margin: 0;
  user-select: none;
}
progress {
  color: green;
}
.button {
  fill: rgba(0, 255, 0, 0.1);
}
.button:hover {
  fill: rgba(0, 255, 0, 0.2);
}

.bottomAnchor {
  transform-origin: bottom center;
}
